<ion-view view-title="My Account">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="username" disabled>
      </label>
      <label class="item item-input">
        <input type="password" placeholder="New Password" ng-model="password">
      </label>
      <button class="button button-assertive icon-left ion-upload" style="margin-top:10px">Save</button
  </ion-content>
</ion-view>

